:root {
    
    --primary-color: #a91a1a;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height: 180px;
    --navbar-height: 65px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
.grid {
    width: 1265px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.grid_full-width {
    width: 100%;
}
.grid_row {
    display: flex;
    flex-wrap: wrap;
}
/* ============css phi============ */
.banner-header{
  display: flex;
  max-height: fit-content;
  padding-top: 5px;
  padding-bottom: 10px;
}
.banner{
  max-width: 60%;
}
.banner img{
  max-width: 100%;
}

.baiviet-header{
  max-width: 40%;

}
.baivier-h2{
  background-color: #a91a1a;
  color: white;
}
.baivier-h2 h2{
  font-size: 200%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.baiviet-thumnail{
  display: flex;
}
.baiviet-thumnail img{
  max-width: 100px;
}

.section01{
  height: fit-content;
  background-color: #e6e1e1;
  padding-top: 10px;
}
.sanphambanchay{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  max-width: 1265px;
  max-height: fit-content;
}
.sanphambanchay img{
  width: 260px;
  height: 280px;
}
.sanphambanchay p{
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.containerSanPhamBanChay{
  display: flex;
  background-color: #a91a1a;
  text-align: center;
  color: #fcfafa;
}
.img-spbc{
  max-width: fit-content;
  max-height: fit-content;
  border: 1px solid rgb(169, 166, 166);
  padding: 5px;
  margin-left: 10px;
  background-color: white;

}
.containerSanPhamBanChay .xemtatca{
  font-size: 15px;
  padding-left: 1300px;
  
  
}



/* ============css phi============ */